@model Bridges2._4.Models.DashBoardViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/add2.css" />
    <title>ADD station </title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active">Add STATION </h2>




            <!-- Login Form -->
            <form  asp-action="AddStation" asp-controller="Admin">
                <input asp-for="StationName" id="login" class="fadeIn second"  placeholder="S-Name">
                <input asp-for="Location" id="password" class="fadeIn third"  placeholder="S-Location">
                <input type="submit" class="fadeIn fourth" value="ADD">
            </form>



        </div>
    </div>

</body>
</html>